.video{
    position: relative;
    background-color: white;
    width: 100%;
    height: 99%;
    scroll-snap-align: start;
}
.video__player{
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
}