 
@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');
 


html{
    scroll-snap-type: y mandatory;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #0F1924; */
    font-family: "Moderustic", sans-serif;
}

.App{
    height: 100vh;
    background-color:black ;
    display: grid;
    place-items: center;
}

.app_videos{
    position: relative;
    height: 800px;
    border-radius: 20px;
    overflow: scroll;
    max-width: 500px;
      
    scroll-snap-type: y mandatory;
}

.app_videos::-webkit-scrollbar{
    display: none;
}

.app_videos {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.section__app__box{
    color: grey;
  
    width: 53%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    position: sticky;
    font-family: cursive;
     
}


@media (min-width: 768px)  {
  
    .section__app__box{
        color: white;
         
        width: 20%;
        display: flex;
        justify-content: space-around;
        font-size: 17px;
        position: sticky;
        position: absolute;
        top: 20px;margin-top: 90px;
        
    }
    
    
  }

  


  .not__found{
    color: white;
    width: 500px;
    height: 100vh;
    background-color: rgb(19, 18, 18);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  